In [0]:
from sklearn import preprocessing
import tensorflow as tf

In [37]:
tf.__version__

'1.15.0'

In [0]:
import pandas as pd
data = pd.read_csv('bank.csv')

In [39]:
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [40]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
data.drop(['RowNumber','CustomerId','Surname'], axis = 1, inplace = True )

In [42]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [43]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [44]:
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [0]:
LE = preprocessing.LabelEncoder()
data['Geography'] = LE.fit_transform(data['Geography'])
data['Gender'] = LE.fit_transform(data['Gender'])

In [46]:
data

      CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619          0       0  ...               1        101348.88       1
1             608          2       0  ...               1        112542.58       0
2             502          0       0  ...               0        113931.57       1
3             699          0       0  ...               0         93826.63       0
4             850          2       0  ...               1         79084.10       0
...           ...        ...     ...  ...             ...              ...     ...
9995          771          0       1  ...               0         96270.64       0
9996          516          0       1  ...               1        101699.77       0
9997          709          0       0  ...               1         42085.58       1
9998          772          1       1  ...               0         92888.52       1
9999          792          0       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [47]:
data.describe().T

                   count           mean  ...          75%        max
CreditScore      10000.0     650.528800  ...     718.0000     850.00
Geography        10000.0       0.746300  ...       1.0000       2.00
Gender           10000.0       0.545700  ...       1.0000       1.00
Age              10000.0      38.921800  ...      44.0000      92.00
Tenure           10000.0       5.012800  ...       7.0000      10.00
Balance          10000.0   76485.889288  ...  127644.2400  250898.09
NumOfProducts    10000.0       1.530200  ...       2.0000       4.00
HasCrCard        10000.0       0.705500  ...       1.0000       1.00
IsActiveMember   10000.0       0.515100  ...       1.0000       1.00
EstimatedSalary  10000.0  100090.239881  ...  149388.2475  199992.48
Exited           10000.0       0.203700  ...       0.0000       1.00

[11 rows x 8 columns]

In [0]:
X=data.drop(['Exited'],axis=1)
y=(data['Exited'])

In [49]:
X.shape

(10000, 10)

In [50]:
y.shape

(10000,)

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

In [56]:
data.corr()

                 CreditScore  Geography  ...  EstimatedSalary    Exited
CreditScore         1.000000   0.007888  ...        -0.001384 -0.027094
Geography           0.007888   1.000000  ...        -0.001369  0.035943
Gender             -0.002857   0.004719  ...        -0.008112 -0.106512
Age                -0.003965   0.022812  ...        -0.007201  0.285323
Tenure              0.000842   0.003739  ...         0.007784 -0.014001
Balance             0.006268   0.069408  ...         0.012797  0.118533
NumOfProducts       0.012238   0.003972  ...         0.014204 -0.047820
HasCrCard          -0.005458  -0.008523  ...        -0.009933 -0.007138
IsActiveMember      0.025651   0.006724  ...        -0.011421 -0.156128
EstimatedSalary    -0.001384  -0.001369  ...         1.000000  0.012097
Exited             -0.027094   0.035943  ...         0.012097  1.000000

[11 rows x 11 columns]

In [0]:
y_train = tf.keras.utils.to_categorical(y_train)
y_test = tf.keras.utils.to_categorical(y_test)

In [0]:
#Clear out tensorflow memory
tf.keras.backend.clear_session()

#Initialize Sequential model
model = tf.keras.models.Sequential()

#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

In [0]:
#Adding 1st dence layer
model.add(tf.keras.layers.Dense(20, activation='sigmoid',input_shape=(10,))) # we have 10 features so 10 input_shape

#Add 2nd hidden layer
model.add(tf.keras.layers.Dense(10, activation='sigmoid')) 

#Adding OUTPUT layer
model.add(tf.keras.layers.Dense(2, activation='softmax')) # outputs are 2

In [0]:
#Comile the model
m = model.compile(optimizer='sgd', loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [61]:
model.fit(X_train,y_train,          
          validation_data=(X_test,y_test), 
          epochs=10,
          batch_size=32)

Train on 7000 samples, validate on 3000 samples
Epoch 1/10
7000/7000 [==============================] - 1s 166us/sample - loss: 0.5169 - acc: 0.7963 - val_loss: 0.5126 - val_acc: 0.7963
Epoch 2/10
7000/7000 [==============================] - 1s 143us/sample - loss: 0.5128 - acc: 0.7963 - val_loss: 0.5122 - val_acc: 0.7963
Epoch 3/10
7000/7000 [==============================] - 1s 135us/sample - loss: 0.5103 - acc: 0.7963 - val_loss: 0.5104 - val_acc: 0.7963
Epoch 4/10
7000/7000 [==============================] - 1s 139us/sample - loss: 0.5085 - acc: 0.7963 - val_loss: 0.5086 - val_acc: 0.7963
Epoch 5/10
7000/7000 [==============================] - 1s 137us/sample - loss: 0.5065 - acc: 0.7963 - val_loss: 0.5065 - val_acc: 0.7963
Epoch 6/10
7000/7000 [==============================] - 1s 141us/sample - loss: 0.5046 - acc: 0.7963 - val_loss: 0.5047 - val_acc: 0.7963
Epoch 7/10
7000/7000 [==============================] - 1s 140us/sample - loss: 0.5028 - acc: 0.7963 - val_loss: 0.5029 - val_acc: 0.7963
Epoch 8/10
7000/7000 [==============================] - 1s 141us/sample - loss: 0.5009 - acc: 0.7963 - val_loss: 0.5011 - val_acc: 0.7963
Epoch 9/10
7000/7000 [==============================] - 1s 139us/sample - loss: 0.4988 - acc: 0.7963 - val_loss: 0.4993 - val_acc: 0.7963
Epoch 10/10
7000/7000 [==============================] - 1s 139us/sample - loss: 0.4970 - acc: 0.7963 - val_loss: 0.4973 - val_acc: 0.7963

In [72]:
modela = tf.keras.models.Sequential()

modela.add(tf.keras.layers.Dense(50, input_shape=(10,),activation='relu'))

modela.add(tf.keras.layers.Dense(30, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(10, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(5, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(2, activation='sigmoid'))

sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

modela.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

modela.fit(X_train,y_train,          
          validation_data=(X_test,y_test),
          epochs=30)

Train on 7000 samples, validate on 3000 samples
Epoch 1/30
7000/7000 [==============================] - 1s 177us/sample - loss: 0.5161 - acc: 0.7961 - val_loss: 0.4428 - val_acc: 0.7963
Epoch 2/30
7000/7000 [==============================] - 1s 151us/sample - loss: 0.4279 - acc: 0.7963 - val_loss: 0.4311 - val_acc: 0.7963
Epoch 3/30
7000/7000 [==============================] - 1s 150us/sample - loss: 0.4186 - acc: 0.8028 - val_loss: 0.4256 - val_acc: 0.8090
Epoch 4/30
7000/7000 [==============================] - 1s 155us/sample - loss: 0.4110 - acc: 0.8271 - val_loss: 0.4175 - val_acc: 0.8298
Epoch 5/30
7000/7000 [==============================] - 1s 154us/sample - loss: 0.3962 - acc: 0.8405 - val_loss: 0.4004 - val_acc: 0.8387
Epoch 6/30
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3786 - acc: 0.8519 - val_loss: 0.3895 - val_acc: 0.8447
Epoch 7/30
7000/7000 [==============================] - 1s 154us/sample - loss: 0.3683 - acc: 0.8566 - val_loss: 0.3832 - val_acc: 0.8512
Epoch 8/30
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3624 - acc: 0.8617 - val_loss: 0.3799 - val_acc: 0.8528
Epoch 9/30
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3577 - acc: 0.8618 - val_loss: 0.3796 - val_acc: 0.8493
Epoch 10/30
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3539 - acc: 0.8630 - val_loss: 0.3822 - val_acc: 0.8503
Epoch 11/30
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3511 - acc: 0.8628 - val_loss: 0.3783 - val_acc: 0.8472
Epoch 12/30
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3472 - acc: 0.8648 - val_loss: 0.3788 - val_acc: 0.8452
Epoch 13/30
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3449 - acc: 0.8665 - val_loss: 0.3764 - val_acc: 0.8425
Epoch 14/30
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3444 - acc: 0.8665 - val_loss: 0.3736 - val_acc: 0.8468
Epoch 15/30
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3403 - acc: 0.8672 - val_loss: 0.3737 - val_acc: 0.8477
Epoch 16/30
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3391 - acc: 0.8686 - val_loss: 0.3758 - val_acc: 0.8433
Epoch 17/30
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3362 - acc: 0.8702 - val_loss: 0.3723 - val_acc: 0.8487
Epoch 18/30
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3347 - acc: 0.8691 - val_loss: 0.3758 - val_acc: 0.8457
Epoch 19/30
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3332 - acc: 0.8699 - val_loss: 0.3735 - val_acc: 0.8472
Epoch 20/30
7000/7000 [==============================] - 1s 144us/sample - loss: 0.3304 - acc: 0.8716 - val_loss: 0.3738 - val_acc: 0.8483
Epoch 21/30
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3296 - acc: 0.8718 - val_loss: 0.3718 - val_acc: 0.8482
Epoch 22/30
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3286 - acc: 0.8711 - val_loss: 0.3699 - val_acc: 0.8477
Epoch 23/30
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3266 - acc: 0.8716 - val_loss: 0.3737 - val_acc: 0.8475
Epoch 24/30
7000/7000 [==============================] - 1s 143us/sample - loss: 0.3243 - acc: 0.8734 - val_loss: 0.3771 - val_acc: 0.8500
Epoch 25/30
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3241 - acc: 0.8746 - val_loss: 0.3758 - val_acc: 0.8457
Epoch 26/30
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3230 - acc: 0.8722 - val_loss: 0.3752 - val_acc: 0.8492
Epoch 27/30
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3217 - acc: 0.8732 - val_loss: 0.3750 - val_acc: 0.8477
Epoch 28/30
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3213 - acc: 0.8739 - val_loss: 0.3749 - val_acc: 0.8508
Epoch 29/30
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3200 - acc: 0.8746 - val_loss: 0.3788 - val_acc: 0.8475
Epoch 30/30
7000/7000 [==============================] - 1s 156us/sample - loss: 0.3190 - acc: 0.8752 - val_loss: 0.3762 - val_acc: 0.8460

In [0]:
#Predicting the Test set results
y_pred = modela.predict(X_test)

In [74]:
#Threshold of 50%
y_pred = (y_pred > 0.5)
y_pred

array([[ True, False],
       [ True, False],
       [ True, False],
       ...,
       [False,  True],
       [False,  True],
       [ True, False]])

In [75]:
from sklearn import metrics

pd.DataFrame(metrics.confusion_matrix(y_test.argmax(axis=1), y_pred.argmax(axis=1)))

      0    1
0  2271  118
1   345  266

In [76]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8456666666666667